* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e0f12;
  color: white;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4 {
    margin-top: 1rem !important;
    margin-bottom: 0.5rem !important;
    font-weight: 700;
}

.markdown-content p {
    margin-bottom: 0.8rem !important;
}

.markdown-content ul,
.markdown-content ol {
    margin-bottom: 1rem !important;
    padding-left: 1.4rem;
    line-height: 1.7;
}

.markdown-content li {
    margin-bottom: 0.4rem;
}

.markdown-content strong {
    font-weight: 700;
}

